// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-item{
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-left-15{
  margin-left: 15px ;
}
.delete-link{
  color: red !important;
}