<h1>The Bucketlist App</h1>
<%= link_to "New Bucketlist", new_bucketlist_path, id: "new_link", remote: true %>
<h2>Newly</h2>
<div class="bucketlists" id="bucketlists">
  <%= render @bucketlists %>
</div>